* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}


/* task-1 */

#categories {
  display: flex;
  flex-direction: column;
  width: 688px;
  margin: 0 auto;
  padding: 0;
}

.item {
  list-style: none;
  background-color: #F6F6FE;
  margin: 20px;
  border-radius: 8px;
}

.item>h2 {
  font-size: 24px;
  /* font-style: SemiBold; */
  margin: 15px 0 10px 20px;
}

.item>ul {
  padding: 5px 15px 15px 15px;
}

.item>ul>li {
  list-style: none;
  border: solid 1px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

/* task-2 */

.gallery {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding: 0;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 12px;
  list-style: none;

}

.img-item {
  width: 360px;
  height: 300px;
}

/* task-3 */

#name-input {
  font-size: 16px;
  font-family: 'Montserrat';
  width: 360px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  border-color: #808080;

}

h1,
span>.name-output {
  font-family: 'Montserrat';
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}

/* task-4 */

.login-form {
  width: 420px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

label {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 400;
  margin: 10px;
  letter-spacing: 1px;
}

input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 20px;
  padding-left: 10px;
}

button[type="submit"] {
  width: 86px;
  height: 40px;
  float: left;
  border-radius: 8px;
  color: white;
  background-color: #4E75FF;
  margin: 10px;
}

/* task-5 */

.widget {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.widget>p {
  font-size: 16px;
  font-family: "Montserrat";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 400;
}

.change-color {
  width: 148px;
  height: 40px;
  border-radius: 8px;
  color: white;
  background-color: #4E75FF;
  border: none;
}