#name-input {
    font-size: 16px;
    font-family: 'Montserrat';    
    width: 360px;
    height: 40px;
    padding-left: 10px;
    border-radius: 4px;
    border-color: #808080;

}
h1, span>.name-output {
    font-family: 'Montserrat';
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
}