.login-form {
    width: 420px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
label {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 10px;
    letter-spacing: 1px;
}
input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 20px;
    padding-left: 10px;
}
button[type="submit"] {
    width: 86px;
    height: 40px;
    float: left;
    border-radius: 8px;
    color: white;
    background-color: #4E75FF;
    margin: 10px;
}