.gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 12px;
    list-style: none;
    
}

.img-item {
    width: 360px;
    height: 300px;
}